<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
  <h1>Welcome, {{ current_user.name }}!</h1>

  <h4>All Friends</h4>
  <table>
    <thead>
      <tr>
        <th>Alias</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% if friends %}
      {% for friend in friends %}
        <tr>
          <td>{{ friend.alias }}</td>
          <td><a href="{% url 'user_profile' id=friend.id %}">View Profile</a> <a href="{% url 'remove_friends' id=friend.id %}"><button>Remove as Friend</button></a></td>
        </tr>
      {% endfor %}

      {% else %}

    {% endif %}
    </tbody>
  </table>


  <h4>Other People</h4>
  <table>
      <thead>
        <tr>
          <th>Alias</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for person in persons %}
          <tr>
            <td><a href="{% url 'user_profile' id=person.id %}">{{ person.alias }}</a></td>
            <td><a href="{% url 'add_friends' id=person.id %}"><button>Add as Friend</button></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  <a href="{% url 'logout' %}">Logout</a>
  </body>
</html>
